{% extends 'WorkflowDoc/base.html.twig' %}

{% block title %}Workflow Documentation{% endblock %}
{% block body %}
    <section class="section">
        <div class="columns is-multiline">
            <aside class="menu column is-one-quarter">
                {% for bundleKey,entities in bundles %}
                    <div class="menu-section">
                        <p class="menu-label menu-toggle" style="cursor: pointer;">
                            {{ bundleKey }}
                        </p>
                        <ul class="menu-list is-hidden">
                        {% for entityKey in entities|keys %}
                            <li {% if currentBundle is defined and bundleKey == currentBundle and entityKey == currentEntity %} class="has-text-weight-bold" {% endif %}><a href="/backend/web/workflows/{{ bundleKey }}/{{ entityKey }}-workflow.html">{{ entityKey }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </aside>
            <div class="column is-three-quarters">
                {% if currentBundle is defined %}<span class="is-size-7">{{ currentBundle|default('') }} / </span>{% endif %}
                <span class="is-size-5 has-text-weight-bold">{{ currentEntity|default('Please choose workflow from the menu') }}</span>
                <hr>
                <p class="block">
                    Lorem ipsum dolor sit amet. Dia tu laudum dominus maxima, et laudanum no matre.
                </p>
                <hr>
                <div class="is-size-6 has-text-weight-bold">Associated workflows</div>

                {% if currentBundle is defined %}
                    {% for key, workflows in bundles[currentBundle] %}
                        {% if workflows is defined and workflows is not null and workflows is not empty and key == currentEntity %}
                            {% for workflow in workflows %}
                                <img class="block" src="/backend/web/workflows/diagrams/{{ workflow }}.svg">
                            {% endfor %}
                        {% else %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
