{% extends 'WorkflowDoc/base.html.twig' %}

{% block title %}Workflow Documentation{% endblock %}
{% block body %}
    <section class="section">
        <div class="columns is-multiline">
            <aside id="main_menu" class="menu column is-one-quarter">
                {% for bundleName,entities in menu %}
                    <div class="menu-section">
                        <p class="menu-label menu-toggle" style="cursor: pointer;">
                            {{ bundleName }}
                        </p>
                        <ul class="menu-list">
                        {% for entity in entities %}
                            <li {% if currentEntity is defined and currentEntity.getEntityName == entity.getEntityName and currentEntity.getBundleName == entity.getBundleName %} class="has-text-weight-bold" {% endif %}>
                                <a href="/backend/web/workflows/{{ entity.getBundleName }}/{{ entity.getEntityName }}-workflow.html">{{ entity.getEntityName }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </aside>

            <div id="main_content" class="column is-three-quarters">
                {% if currentEntity is defined %}
                    <div id="content_header">
                        <span class="is-size-7">{{ currentEntity.getBundleName }} / </span>
                        <span class="is-size-5 has-text-weight-bold">{{ currentEntity.getEntityName }}</span>
                    </div>

                    <hr>
                    <p class="block">
                        {% set break = '<br>' %}.
                        {% set empty = '' %}
                        {{ currentEntity.getEntityDescription|replace({
                            '\r\n': break,
                            '\r': break,
                            '\n': break,
                            '/**': empty,
                            '*/': empty,
                            '*' : empty
                        }) | raw }}
                    </p>
                    <hr>
                    <div class="is-size-5 has-text-weight-bold mb-4">Associated workflows</div>
                        {% for workflow in currentEntity.getSupportedWorkflows %}
                            <div class="is-size-6">{{ workflow }}</div>
                            <img class="block" src="/backend/web/workflows/diagrams/{{ workflow }}.svg">
                        {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
