<!DOCTYPE html>
<html>
    <head>
        <style>{{ source('@Common/Pdf/main.css') }}</style>
        <style>
            td, th {
               padding: 10px;
            }
            body {
                font-family: {{ font }};
            }

            header, footer, header h1 {
                color: {{ primaryColor }}
            }

            .main-info, .donors {
                color: {{ secondaryColor }};
                font-size: 20px;
                margin-bottom: 15px;
                margin-top: 15px;
            }

            .donors img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            table {
                margin-bottom: 30px;
                font-family: DejaVu Sans;
            }
        </style>

    </head>
    <body>
        {% set vars = {'name': organizationName, 'logo': organizationLogo, 'footer': footer, 'primaryColor': primaryColor} %}
        {% include('@Common/Pdf/header.html.twig') with vars %}
        <main>
            <div class="main-info">
                <span> Distribution Name : <span>
                {{ distribution.name }}
            </div>
            <div class="main-info">
                <span> Distribution Id : <span>
                {{ distribution.id }}
            </div>
            <div class="main-info">
                <span> Location : <span>
                {% if distribution.location.adm4 %}
                    {{ distribution.location.adm4.name }}
                {% elseif distribution.location.adm3 %}
                    {{ distribution.location.adm3.name }}
                {% elseif distribution.location.adm2 %}
                    {{ distribution.location.adm2.name }}
                {% else %}
                    {{ distribution.location.adm1.name }}
                {% endif %}
            </div>
            <div class="main-info">
                <span> Project : <span>
                {{ distribution.project.name }}
                {% if distribution.project.internalId is not null %} [{{ distribution.project.internalId }}]{% endif %}
            </div>
            <div class="donors">
                <span> Project Donors : <span>
                {% for donor in distribution.project.donors %}
                    {% if donor.logo %}
                        <img src="{{ donor.logo }}" />
                    {% endif %}
                    <span>{{ donor.shortname }} </span>
                {% endfor %}

                {% if distribution.project.donors|length < 1 %}
                    <span> None </span>
                {% endif %}
            </div>
            <div class="main-info">
                <span> Items Distributed : <span>
                    {{ commodities }}
            </div>

            <div class="main-info">
                <span> Selection Criteria : <span>
            </div>

            <table>
                <tr>
                    <th>Criteria</th>
                    <th>Condition</th>
                    <th>Value</th>
                </tr>
                {% for criteria in distribution.selectionCriteria %}
                    <tr>
                        <td>
                        {% if criteria.fieldString == 'livelihood' %}
                            livelihood Id
                        {% elseif criteria.fieldString == 'campName' %}
                            camp Id
                        {% else %}
                            {{ criteria.fieldString }}
                        {% endif %}
                        </td>
                        <td>{{ criteria.conditionString }} </td>
                        <td>
                        {% if criteria.fieldString == 'gender' or criteria.fieldString == 'headOfHouseholdGender' %}
                            {% if criteria.valueString == '0' %}
                                Female
                            {% elseif criteria.valueString == '1' %}
                                Male
                            {% endif %}
                        {% else %}
                            {{ criteria.valueString }}
                        {% endif %}    
                        </td>
                    </tr>
                {% endfor %}
            </table>

             <div class="main-info">
                <span> Beneficiaries : <span>
            </div>

            <table>
                <tr>
                    <th>First Name</th>
                    <th>Family Name</th>
                    {% if not distribution.validated %}
                        <th>Gender</th>
                        <th>Date Of Birth</th>
                        <th>Residency Status</th>
                        <th>Vulnerabilities</th>
                    {% elseif distribution.commodities[0].modalityType.name == 'QR Code Voucher' %}
                        <th>Booklet</th>
                        <th>Status</th>
                        <th>Used</th>
                        <th>Value</th>
                        <th>Purchased Items</th>
                    {% elseif distribution.commodities[0].modalityType.name == 'Mobile Money' %}
                        <th>Phone</th>
                        <th>Transaction Id</th>
                        <th>Status</th>
                        <th>Value</th>
                    {% else %}
                        <th>Distributed</th>
                        <th>Value</th>
                    {% endif %}
                </tr>
                {% for assistanceBeneficiary in distribution.distributionBeneficiaries %}
                    {% if not assistanceBeneficiary.removed %}
                        <tr>
                            <td>{{ assistanceBeneficiary.beneficiary.localFamilyName }} </td>
                            <td>{{ assistanceBeneficiary.beneficiary.localGivenName }} </td>
                            {% if not distribution.validated %}
                                <td>
                                    {{ assistanceBeneficiary.beneficiary|gender }}
                                </td>
                                <td>
                                    {{ assistanceBeneficiary.beneficiary.dateOfBirth | date("m/d/Y") }}
                                </td>
                                <td>
                                    {{ assistanceBeneficiary.beneficiary.residencyStatus }}
                                </td>
                                <td>
                                    {% for vulnerability in assistanceBeneficiary.beneficiary.vulnerabilityCriteria %}
                                        <span> {{ vulnerability.fieldString }} </span>
                                    {% endfor %}
                                </td>
                            {% elseif distribution.commodities[0].modalityType.name == 'QR Code Voucher' %}
                                <td>
                                    {% if booklets[assistanceBeneficiary.id] is defined %}
                                        {{ booklets[assistanceBeneficiary.id].code }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                <td>
                                    {% if booklets[assistanceBeneficiary.id]  is defined %}
                                        {% if booklets[assistanceBeneficiary.id].status == 0 %}
                                            Unassigned
                                        {% elseif booklets[assistanceBeneficiary.id].status == 1 %}
                                            Distributed
                                        {% elseif booklets[assistanceBeneficiary.id].status == 2 %}
                                            Used
                                        {% elseif booklets[assistanceBeneficiary.id].status == 3 %}
                                            Deactivated
                                        {% endif %}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                <td>
                                    {% if booklets[assistanceBeneficiary.id] is defined and booklets[assistanceBeneficiary.id].usedAt %}
                                        {{ booklets[assistanceBeneficiary.id].usedAt | date("m/d/Y") }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                <td>
                                    {% if booklets[assistanceBeneficiary.id] is defined %}
                                        {{ booklets[assistanceBeneficiary.id].value }}{{ booklets[assistanceBeneficiary.id].currency }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                <td>
                                    {% if booklets[assistanceBeneficiary.id] is defined and booklets[assistanceBeneficiary.id].products|length > 0 %}
                                        <p>
                                            {{ booklets[assistanceBeneficiary.id].products }}
                                        </p>
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                            {% elseif distribution.commodities[0].modalityType.name == 'Mobile Money' %}
                                <td>
                                    <p>
                                        {% if assistanceBeneficiary.beneficiary.phones|length == 0 %}
                                            None
                                        {% endif %}
                                        {% for phone in assistanceBeneficiary.beneficiary.phones %}
                                            {{ phone.prefix }}{{ phone.number }} <br>
                                        {% endfor %}
                                    </p>
                                </td>
                                <td>
                                    {% if assistanceBeneficiary.transactions|length > 0 %}
                                        {{ assistanceBeneficiary.transactions[0].id }}
                                    {% else %}
                                        Not Yet Defined
                                    {% endif %}
                                </td>
                                <td>
                                    {% if assistanceBeneficiary.transactions|length > 0 %}
                                        {% if assistanceBeneficiary.transactions[0].transactionStatus == 0 %}
                                            Failed
                                        {% elseif assistanceBeneficiary.transactions[0].transactionStatus == 1 %}
                                            Sent
                                        {% elseif assistanceBeneficiary.transactions[0].transactionStatus == 2 %}
                                            No Phone  
                                        {% else %}
                                            Not Sent
                                        {% endif %}
                                    {% else %}
                                        Not Sent
                                    {% endif %}
                                </td>
                                <td>
                                    {{ distribution.commodities[0].value }} {{ distribution.commodities[0].unit }}
                                </td>
                            {% else %}
                                <td>
                                    <p>
                                        {% if assistanceBeneficiary.generalReliefs|length == 0 or not assistanceBeneficiary.generalReliefs[0].distributedAt %}
                                            Not Distributed
                                        {% else %}
                                            {{ assistanceBeneficiary.generalReliefs[0].distributedAt | date("m/d/Y") }}
                                        {% endif %}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {% for commodity in distribution.commodities %}
                                            {{ commodity.value }} {{ commodity.unit }} <br>
                                        {% endfor %}
                                    </p>
                                </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </main>
    </body>
</html>
