<!DOCTYPE html>
<html>
<head>
    <style>{{ source('@Common/Pdf/main.css') }}</style>
    <style>
        td, th {
            padding: 10px;
        }

        body {
            font-family: {{ font }};
        }

        header, footer, header h1 {
            color: {{ primaryColor }}
        }

        .main-info, .donors {
            color: {{ secondaryColor }};
            font-size: 20px;
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .donors img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        table {
            margin-bottom: 30px;
            font-family: DejaVu Sans;
        }
    </style>

</head>
<body>
{% set vars = {'name': organizationName, 'logo': organizationLogo, 'footer': footer, 'primaryColor': primaryColor} %}
{% include('@Common/Pdf/header.html.twig') with vars %}
<main>
    <div class="main-info">
        <span> Distribution Name : </span>
        {{ assistance.name }}
    </div>
    <div class="main-info">
        <span> Distribution Id : </span>
        {{ assistance.id }}
    </div>
    <div class="main-info">
        <span> Location : </span>
        {% if assistance.location.adm4 %}
            {{ assistance.location.adm4.name }}
        {% elseif assistance.location.adm3 %}
            {{ assistance.location.adm3.name }}
        {% elseif assistance.location.adm2 %}
            {{ assistance.location.adm2.name }}
        {% else %}
            {{ assistance.location.adm1.name }}
        {% endif %}
    </div>
    <div class="main-info">
        <span> Project : </span>
        {{ assistance.project.name }}
        {% if assistance.project.internalId is not null %} [{{ assistance.project.internalId }}]{% endif %}
    </div>
    <div class="donors">
        <span> Project Donors : </span>
        {% for donor in assistance.project.donors %}
            {% if donor.logo %}
                <img src="{{ donor.logo }}"/>
            {% endif %}
            <span>{{ donor.shortname }} </span>
        {% endfor %}

        {% if assistance.project.donors|length < 1 %}
            <span> None </span>
        {% endif %}
    </div>

    <div class="main-info">
        <span> Selection Criteria : </span>
    </div>

    <table>
        <tr>
            <th>Criteria</th>
            <th>Condition</th>
            <th>Value</th>
        </tr>
        {% for criteria in assistance.selectionCriteria %}
            <tr>
                <td>
                    {% if criteria.fieldString == 'livelihood' %}
                        livelihood Id
                    {% elseif criteria.fieldString == 'campName' %}
                        camp Id
                    {% else %}
                        {{ criteria.fieldString }}
                    {% endif %}
                </td>
                <td>{{ criteria.conditionString }} </td>
                <td>
                    {% if criteria.fieldString == 'gender' or criteria.fieldString == 'headOfHouseholdGender' %}
                        {% if criteria.valueString == '0' %}
                            Female
                        {% elseif criteria.valueString == '1' %}
                            Male
                        {% endif %}
                    {% else %}
                        {{ criteria.valueString }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="main-info">
        <span> Beneficiaries : </span>
    </div>

    <table>
        <tr>
            <th>First Name</th>
            <th>Family Name</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Residency Status</th>
            <th>Vulnerabilities</th>
            <th>Amount Sent</th>
            <th>Sent At</th>
            <th>Suspect Smartcard</th>
        </tr>
        {% for assistanceBeneficiary in assistanceBeneficiaries %}
            {% if not assistanceBeneficiary.removed %}
                <tr>
                    <td>{{ assistanceBeneficiary.beneficiary.localFamilyName }} </td>
                    <td>{{ assistanceBeneficiary.beneficiary.localGivenName }} </td>
                    <td>
                        {{ assistanceBeneficiary.beneficiary|gender }}
                    </td>
                    <td>
                        {{ assistanceBeneficiary.beneficiary.dateOfBirth | date("m/d/Y") }}
                    </td>
                    <td>
                        {{ assistanceBeneficiary.beneficiary.residencyStatus }}
                    </td>
                    <td>
                        {% for vulnerability in assistanceBeneficiary.beneficiary.vulnerabilityCriteria %}
                            <span> {{ vulnerability.fieldString }} </span>
                        {% endfor %}
                    </td>
                    {% if deposits[assistanceBeneficiary.id] is defined %}
                        <td>{{ deposits[assistanceBeneficiary.id].value }}</td>
                        <td>{{ deposits[assistanceBeneficiary.id].createdAt | date("m/d/Y") }}</td>
                        <td>
                            {% if deposits[assistanceBeneficiary.id].smartcard.isSuspicious %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                    {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</main>
</body>
</html>
