<!DOCTYPE html>
<html>
    <head>
        <style>{{ source('Pdf/main.css') }}</style>
        <style>
            td, th {
               padding: 10px;
            }
            body {
                font-family: {{ font }};
            }

            header, footer, header h1 {
                color: {{ primaryColor }}
            }

            .donors, .project {
                color: {{ secondaryColor }};
                font-size: 20px;
                margin-bottom: 30px;
            }

            .donors img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        </style>

    </head>
    <body>
        {% set vars = {'name': organizationName, 'logo': organizationLogo, 'footer': footer, 'primaryColor': primaryColor} %}
        {% include('Pdf/header.html.twig') with vars %}
        <main>
            <div class="project">
                <span> Project : <span>
                {{ project.name }}
                {% if project.internalId is not null %} [{{ project.internalId }}]{% endif %}
            </div>

            <div class="donors">
                <span> Donors : <span>
                {% for donor in project.donors %}
                    {% if donor.logo %}
                        <img src="{{ donor.logo }}" />
                    {% endif %}
                    <span>{{ donor.shortname }} </span>
                {% endfor %}

                {% if project.donors|length < 1 %}
                    <span> None </span>
                {% endif %}
            </div>
            <table>
                <tr>
                    <th>Distribution ID</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Items Distributed</th>
                    <th>Quantity</th>
                    <th>Amount distributed</th>
                </tr>
                {% for distribution in distributions %}
                    <tr>
                        <td>{{ distribution.id }}</td>
                        <td>{{ distribution.dateDistribution | date("m/d/Y") }}</td>
                        <td>
                            {% if distribution.location.adm4 %}
                                {{ distribution.location.adm4.name }}
                            {% elseif distribution.location.adm3 %}
                                {{ distribution.location.adm3.name }}
                            {% elseif distribution.location.adm2 %}
                                {{ distribution.location.adm2.name }}
                            {% else %}
                                {{ distribution.location.adm1.name }}
                            {% endif %}
                        </td>
                        <td>
                            <p>
                                {% for commodity in distribution.commodities %}
                                    {{ commodity.modalityType.name }} <br>
                                {% endfor %}
                            </p>
                        </td>
                        <td>
                            <p>
                                {% for commodity in distribution.commodities %}
                                    {{ commodity.value }} {{ commodity.unit }} /pers <br>
                                {% endfor %}
                            </p>
                        </td>
                        <td>
                            <p>
                                {% for commodity in distribution.commodities %}
                                    {{ distribution.getPercentageValue(commodity) }} % <br>
                                {% endfor %}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </main>
    </body>
</html>
