<!DOCTYPE html>
<html>
    <head>
        <style>{{ source('@Common/Pdf/main.css') }}</style>
        <style>

            body {
                font-family: {{ font }};
            }

            header, footer, header h1 {
                color: {{ primaryColor }}
            }

            h1 {
                font-weight: normal;
            }

           .column-left {
                float: left;
            }

            .column-right {
                text-align: right;
            }

            /* Clear floats after the columns */
            .row:after {
            content: "";
            display: table;
            clear: both;
            }

            .bold {
                font-weight: bold;
            }

            .terms-conditions {
                font-style: italic;
                text-align: center;
                margin-top: 30px;
                page-break-inside: avoid;
            }
        </style>
    </head>
    <body>
        {% set vars = {'name': organizationName, 'logo': organizationLogo, 'footer': footer, 'primaryColor': primaryColor} %}
        {% include('@Common/Pdf/header.html.twig') with vars %}
        <main>
            <div class="row">
                    <div class="column-left">
                        <p>From : <br>
                        _____________<br>
                        _____________<br>
                        _____________<br>
                        _____________</p>
                    </div>
                    <div class="column-right">
                        <h1>INVOICE</h1>
                    </div>
            </div>
            <div class="row">
                <div class="column-left">
                    <p>To :<br>
                    Mr {{ name }} <br>
                    {{ shop }} <br>
                    {{ addressNumber }} {{ addressStreet}} <br>
                    {{ addressPostcode }} {{ addressVillage }} <br>
                    {{ addressCommune }} {{ addressDistrict }} <br>
                    {{ addressProvince }} {{ addressCountry }} <br>
                    Vendor No.: {{ vendorNo }} <br>
                    Contract No.: {{ contractNo }} <br>
                    </p>
                </div>
                <div class="column-right">
                    <p>Signed in : _______  <br>
                    On the : {{ date }}</p>
                </div>
            </div>
            <table style="width:100%">
                <tr>
                    <th>Date</th>
                    <th>Voucher's code</th>
                    <th>Value</th> 
                </tr>

                {% for voucherPurchase in voucherPurchases %}
                {% for voucher in voucherPurchase.vouchers %}
                    <tr>
                        <td>{{ voucher.usedAt }}</td>
                        <td>{{ voucher.code }}</td>
                        <td>{{ voucher.value }} {{ voucher.booklet.currency }}</td>
                    </tr>
                {% endfor %}
                {% endfor %}
                <tr>
                    <td></td>
                    <td class="bold">TOTAL</td>
                    <td>{{ totalValue }} {{ voucherPurchases[0].vouchers[0].booklet.currency }}</td>
                </tr>
            </table>
            <p class="terms-conditions">Example terms and conditions<br>
                Example terms and conditions<br>
               Example terms and conditions
            </p>
        </main>
    </body>
</html>
