<!DOCTYPE html>

{% macro getProjectsAndDonors(assistance) -%}
    {% set donorList = [] %}
    {% for donor in assistance.project.donors %}
        {% set donorList = donorList|merge([donor.shortname]) %}
    {% endfor %}
    {{ assistance.project.name }}
    {% if donorList != [] %} &amp; {{ donorList|join(",") }}{% endif %}
{%- endmacro %}

{% macro getNationalId(person) -%}
    {% for nationalId in person.nationalIds %}
        {% if nationalId.idType is constant('NewApiBundle\\Entity\\NationalId::TYPE_NATIONAL_ID') %}
            {{ nationalId.idNumber }}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro getPhone(person) -%}
    {% for phone in person.phones %}
        {% if phone.proxy != true %}
            {{ phone.prefix }}{{ phone.number }}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro getProxyPhone(person) -%}
    {% for phone in person.phones %}
        {% if phone.proxy == true %}
            {{ phone.prefix }}{{ phone.number }}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro getDistributedItems(distributionBeneficiary) -%}
    {% set result = [] %}

    {% for transaction in distributionBeneficiary.transactions %}
        {% if transaction.dateSent %}
            {% for commodity in distributionBeneficiary.assistance.commodities %}
                {% if commodity.modalityType.name == 'Mobile Money' %}
                    {% set text = commodity.modalityType.name ~ ': ' ~ transaction.amountSent %}
                    {% set result = result|merge([text]) %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% for deposit in distributionBeneficiary.smartcardDeposits %}
        {% set text = 'Smartcard deposit: ' ~ deposit.value ~ ' ' ~ deposit.smartcard.currency %}
        {% set result = result|merge([text]) %}
    {% endfor %}

    {% for relief in distributionBeneficiary.generalReliefs %}
        {% if relief.distributedAt %}
            {% for commodity in distributionBeneficiary.assistance.commodities %}
                {% set text = commodity.modalityType.name ~ ', ' ~ commodity.value ~ ' ' ~ commodity.unit %}
                {% set result = result|merge([text]) %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {{ result|join("\n") }}
{%- endmacro %}

<html>
<head>
    <style>
        * {
            font-family: "DejaVu Sans", SansSerif;
            font-size: 7px;
        }

        @page {
            margin: 5mm;
            padding: 0;
        }

        body,
        main {
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 12px;
            padding: 0 52px;
        }

        td.h1 {
            margin: 0;
            vertical-align: center;
            height: 37px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            white-space: nowrap;
        }

        td.title {
            font-weight: bold;
            padding: .2em 0;
            width: 15%;
        }

        td.label {
            font-weight: bold;
            padding: .2em;
            width: 15%;
        }

        main > div {
            margin: 5px 0;
        }

        .language {
            font-style: italic;
        }

        .input {
            background-color: #f2f2f2;
        }

        table.title {
            border: 0 none;
        }

        .header {
            padding: 5px 76px 5px 16px;
            border: 2px solid black;
        }

        .header tr.title td {
            font-weight: bold;
        }

        .header td {
            width: 12.5%;
            height: 8px;
            text-align: right;
            white-space: normal;
            border: 0 none;
        }

        .header td.input {
            text-align: center;
            font-weight: normal !important;
        }

        .header tr.empty td {
            height: 5px;
        }

        .header td span {
            font-size: 90%
        }

        .list td {
            height: 25px;
            border: 0.5px solid black;
            text-align: center;
            white-space: normal;
        }

        .list thead {
            border: 2px solid black;
        }

        .list thead tr:first-of-type td {
            font-weight: bold;
            background-color: #f2f2f2;
        }

        .list tr:first-of-type td {
            background-color: #f2f2f2;
        }

        .list td.col-a {
            width: 16px;
        }

        .list td.col-b,
        .list td.col-c,
        .list td.col-d,
        .list td.col-e,
        .list td.col-f,
        .list td.col-g,
        .list td.col-h,
        .list td.col-i {
            width: 67px;
        }

        .list td.col-j {
            width: 72px;
        }
    </style>
</head>
<body>
<main>
    <table class="title">
        <tr>
            <td><h1>{{ 'Distribution List' }}</h1></td>
            <td class="logos" align="left">
                <img src=".{{ asset('bundles/distribution/pin.png') }}" height="40">

                {% for donor in assistance.project.donors %}
                    {% if donor.logo %}
                        <img src="{{ donor.logo }}" height="40"/>
                    {% endif %}
                    <span>{{ donor.shortname }} </span>
                {% endfor %}
            </td>
        </tr>
    </table>

    <div class="header">
        <table>
            <tr class="title">
                <td>{{ 'Distribution No.' }}</td>
                <td class="input" rowspan="2">#{{ assistance.id }}</td>
                <td>{{ 'Location' }}:</td>
                <td class="input" rowspan="2">{{ assistance.location.locationName }}</td>
                <td>{{ 'Project & Donor' }}:</td>
                <td class="input" rowspan="2">{{ _self.getProjectsAndDonors(assistance) }}</td>
                <td>{{ 'Date' }}:</td>
                <td class="input" rowspan="2">{{ assistance.dateDistribution|date('Y-m-d') }}</td>
            </tr>
            <tr class="language">
                <td>{{ 'Distribution No.'|trans }}</td>
                <td>{{ 'Location'|trans }}:</td>
                <td>{{ 'Project & Donor'|trans }}:</td>
                <td>{{ 'Date'|trans }}:</td>
            </tr>
            <tr class="empty">
                <td></td>
            </tr>
            <tr class="title">
                <td>{{ 'Distributed item(s)' }}:</td>
                <td class="input" rowspan="2">{{ assistance.commodities[0].modalityType.name }}</td>
                <td>{{ 'Distributed item(s)' }}:</td>
                <td class="input" rowspan="2"></td>
                <td>{{ 'Distributed item(s)' }}:</td>
                <td class="input" rowspan="2"></td>
                <td>{{ 'Round' }}:</td>
                <td class="input" rowspan="2"></td>
            </tr>
            <tr class="language">
                <td>{{ 'Distributed item(s)'|trans }}:</td>
                <td>{{ 'Distributed item(s)'|trans }}:</td>
                <td>{{ 'Distributed item(s)'|trans }}:</td>
                <td>{{ 'Round'|trans }}:</td>
            </tr>
            <tr class="empty">
                <td></td>
            </tr>
            <tr class="title">
                <td>{{ 'Distributed by' }}:<br><span>{{ '(name, position, signature)' }}</span></td>
                <td class="input" rowspan="2" colspan="3"></td>
                <td>{{ 'Approved by' }}:<br><span>{{ '(name, position, signature)' }}</span></td>
                <td class="input" rowspan="2" colspan="3"></td>
            </tr>
            <tr class="language">
                <td>{{ 'Distributed by'|trans }}:<br><span>{{ '(name, position, signature)'|trans }}</span></td>
                <td>{{ 'Approved by'|trans }}:<br><span>{{ '(name, position, signature)'|trans }}</span></td>
            </tr>
        </table>
    </div>

    <p>{{ 'The below listed persons confirm by their signature of this distribution list that they obtained and accepted the donation of the below specified items from People in Need.' }}</p>
    <p class="language">{{ 'The below listed person confirm by their signature of this Distribution List that they obtained and accepted
the donation of the below specified items from People in Need.'|trans }}</p>

    <div class="list">
        <table>
            <thead>
            <tr>
                <td class="col-a">{{ 'No.' }}</td>
                <td class="col-b">{{ 'First Name' }}</td>
                <td class="col-c">{{ 'Second Name' }}</td>
                <td class="col-d">{{ 'ID No.' }}</td>
                <td class="col-e">{{ 'Phone No.' }}</td>
                <td class="col-f">{{ 'Proxy First Name' }}</td>
                <td class="col-g">{{ 'Proxy Second Name' }}</td>
                <td class="col-h">{{ 'Proxy ID No.' }}</td>
                <td class="col-i">{{ 'Distributed Item(s), Unit, Amount per beneficiary' }}</td>
                <td class="col-j">{{ 'Signature' }}</td>
            </tr>
            <tr class="language">
                <td class="col-a">{{ 'No.'|trans }}</td>
                <td class="col-b">{{ 'First Name'|trans }}</td>
                <td class="col-c">{{ 'Second Name'|trans }}</td>
                <td class="col-d">{{ 'ID No.'|trans }}</td>
                <td class="col-e">{{ 'Phone No.'|trans }}</td>
                <td class="col-f">{{ 'Proxy First Name'|trans }}</td>
                <td class="col-g">{{ 'Proxy Second Name'|trans }}</td>
                <td class="col-h">{{ 'Proxy ID No.'|trans }}</td>
                <td class="col-i">{{ 'Distributed Item(s), Unit, Amount per beneficiary'|trans }}</td>
                <td class="col-j">{{ 'Signature'|trans }}</td>
            </tr>
            </thead>

            {% for db in assistance.distributionBeneficiaries %}
                <tr class="{{ loop.index % 2 == '0' ? 'even' : 'odd' }}">
                    <td class="col-a">{{ loop.index }}</td>
                    <td class="col-b">{{ db.beneficiary.person.localGivenName }}</td>
                    <td class="col-c">{{ db.beneficiary.person.localFamilyName }}</td>
                    <td class="col-d">{{ _self.getNationalId(db.beneficiary.person) }}</td>
                    <td class="col-e">{{ _self.getPhone(db.beneficiary.person) }}</td>
                    <td class="col-g"></td>
                    <td class="col-h"></td>
                    <td class="col-f">{{ _self.getProxyPhone(db.beneficiary.person) }}</td>
                    <td class="col-i">{{ _self.getDistributedItems(db) }}</td>
                    <td class="col-j"></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</main>
</body>
</html>
